body {
  background-color: lightgray;
}

.loading {
  display: none;
}

#stats {
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

.map {
  display: inline-block;

  .row, .cell {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .cell {
    display: inline-block;

    &.F { background-color: darkgreen; }
    &.G { background-color: lightgreen; }
    &.W { background-color: blue; }
    &.M { background-color: brown; }
    &.S { background-color: gold; }
    &.L { background-color: lightgray; }
    &.D { background-color: black; }

    .sub {
      &.frontier { background-color: purple; }
      &.visited { background-color: darkgray; }
      &.final { background-image: url('/img/link.png'); }
    }
  }

  &.map-0 {
    float: left;
    $cell-size: 16px;
    font-size: $cell-size;
    line-height: $cell-size;
    .cell {
      height: $cell-size;
      width: $cell-size;
      .sub {
        height: $cell-size;
        width: $cell-size;
        border-radius: $cell-size / 2;
      }
    }
  }

  &.map-1, &.map-2, &.map-3 {
    float: right;
    $cell-size: 12px;
    font-size: $cell-size;
    line-height: $cell-size;
    .cell {
      height: $cell-size;
      width: $cell-size;
      .sub {
        height: $cell-size;
        width: $cell-size;
        border-radius: $cell-size / 2;
      }
    }
  }


}
